<header>
    <a href="#">
        <img id="logoSite" src="{{ asset('images/logoGuitaristExplore.png') }}" alt="Logo du site">
    </a>
    <div class="sign">
        <p>
            <a href="#" class="sign-link">CONNEXION</a> / <a href="#" class="sign-link">INSCRIPTION</a>
        </p>
    </div>
</header>