<aside>
    <section id="search" class="alt">
        <form method="post" action="#">
        	<input type="text" name="query" id="query" placeholder="Recherche"/>
        </form>
    </section>

    <h3>Menu</h3>

    <nav class="menu">
        <ul>
        	<li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
        	<li><a href="#">ARTICLES</a></li>
        	<li><a href="#">COMMENT PARTICIPER ?</a></li>
            <li><a href="#">LISTE DES GUITARISTES</a></li>
        	<li><a href="#">CLASSEMENT DES GUITARISTES</a></li>
        </ul>
     </nav>

     <article>
        <h3> Le Dernier Article </h3>
     </article>
</aside>
   
