/*---------------------------------------------------------------------------------  GENERAL  --------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');

:root {
    --sidebar-width: 350px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 150%;
    display: flex;
    flex-direction: row;
}

h1, h2, h3, h4 {
    color: #3d4449;
}

p{
    color: #7f888f;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

aside {
    width: var(--sidebar-width);
    background: #e5e5e5;
    padding: 1.5em;
    height: 100vh;
    overflow-y: auto;
    position: fixed; 
}

aside h3 {
    text-decoration: underline solid #F56A6A 4px; 
    text-underline-offset: 0.5em; 
    margin-top: 2.5em; 
    margin-bottom: 2em; 
}

section#search {
 margin-bottom: 5em;
}

section#search input[type="text"] {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav.menu ul {
    list-style-type: none; 
}

nav.menu ul li a {
    text-decoration: none;
    color: #3d4449;
    display: block;
    padding: 1em 0em;
}

nav.menu ul li:not(:last-child) a {
    border-bottom: 1px solid #7f888f;  
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: var(--sidebar-width); 
    overflow-y: auto; 
}

header, main, footer {
    margin: 0em 7em;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #F56A6A;
    flex-shrink: 0;
    padding: 1.3em 0em;
    margin-bottom: 5em;
}

header #logoSite {
    max-width: 80px;
    height: auto;
    margin-top: auto; 
}

.sign {
    margin-top: auto; 
}

.sign-link {
    text-decoration: none;
    color: #3d4449;   
}

nav.menu ul li a:hover, .sign-link:hover {
    color: #F56A6A; 
}

nav.menu ul li a.active, .sign-link.active {
    color: #F56A6A; 
}

main {
    flex-grow: 1;
}

.d-flex-sb{
    display: flex;
    justify-content: space-between;
}

.border-shadow{
    border: 1px solid #3D4449;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1); 
}

footer {
    flex-shrink: 0;
    border-top: 4px solid #F56A6A;
    text-align: center;   
    padding: 3em 0em;
    margin-top: 5em;
}


/*-----------------------------------------------------------------------------------  FORMULAIRE  ---------------------------------------------------------------------------------*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    background-color: white !important;
}

input:-moz-autofill,
input:-moz-autofill:hover, 
input:-moz-autofill:focus, 
input:-moz-autofill:active,
textarea:-moz-autofill,
textarea:-moz-autofill:hover,
textarea:-moz-autofill:focus,
textarea:-moz-autofill:active,
select:-moz-autofill,
select:-moz-autofill:hover,
select:-moz-autofill:focus,
select:-moz-autofill:active {
    background-color: white !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2em;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1); 
    border: 2px solid #3d4449; 
    border-radius: 5px;
    max-width: 400px; 
}

.form-container h2 {
    margin-bottom: 1em; 
}

.error-message {
    display: block; 
    color: red; 
    margin-bottom: 0.5em; 
}

.form-errors {
    min-height: 50px; 
    margin-bottom: 1em; 
}

.checkbox-custom-label {
    margin-right: 10px; 
}

.checkbox-custom input[type="checkbox"] {
    appearance: none; 
    background: #fff; 
    border: 1px solid #ccc; 
    padding: 9px; 
    position: relative; 
    cursor: pointer;
}

.checkbox-custom input[type="checkbox"]:checked {
    background-color: #F56A6A;
    border-color: #F56A6A; 
}

.checkbox-custom input[type="checkbox"]:checked::after {
    content: '✔'; 
    color: #fff; 
    position: absolute;
    top: 0;
    left: 4px;
}

.input-group {
    margin-bottom: 2em;
}

.input-group input,
.input-group .form-check-input {
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid #3d4449;
    
}

.input-group input:focus {
    outline: none;
}

.actions {
    display: flex;
    justify-content: center; 
    padding-top: 4em;
}

.actions button {
    padding: 0.5em;
    border: 2px solid #F56A6A; 
    border-radius: 5px;
    color: #F56A6A;
    background:#ffffff;
    cursor: pointer;
}

.actions button:hover {
    background: #F56A6A;
    color: #ffffff;
}


/*----------------------------------------------------------------------------------  MAIN  ----------------------------------------------------------------------------------------*/

.edito {
    border-bottom: 2px solid  #7f888f;
    padding-bottom: 5em;
    margin-bottom: 2.5em;
}

.text-edito h1 {
    font-size: 50px;
    padding-bottom: 1em;
}

.text-edito {
    padding-right: 1.5em;
    padding-top: 1em;
}

.image-edito {
    padding-left: 1.5em;
}

.first-image {
    max-width: 600px;
    height: auto;
}

.other-image {
    max-width: 450px;
    height: auto;
}  

.text-content h2{
    padding-bottom: 1em;
}

.odd {
    flex-direction: row;
    margin-top: 2.5em;
}

.even{
    flex-direction: row-reverse;
    padding-top: 2.5em;
}

.odd .text-content, .even .text-content {
    padding: 2em 1.5em;
}

.odd .image-content,  .even .image-content {
    padding: 0em 1.5em;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.list-image{
    width: 100%; 
    height: 200px; 
    object-fit: cover;   
}